fastapi
uvicorn[standard]
pymongo[srv]
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
cryptography
python-multipart
opencv-python
mediapipe
numpy
pandas
scipy
librosa
joblib
google-genai
httpx
shap